{% extends "layout.html" %}
{% block body %}    
    <!-- ################# Our Team Starts Here#######################--->

      <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Sanjivani Hospital</h2>
                           <ul>
                               <li> <a href="/"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> About Us</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
    

   
 <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="{{url_for('static',filename='images/about_us.jpg')}}" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>Welcome to Sanjivani Hospital</h2>
                            <p>Sanjivani Hospital is the state of art multispeciality private hospital in Udaipur.Sanjivani offers the comfort care of family with the warmth and hospitality of East and madical professionalism of West with the convinent location near Fathepura, Udaipur.   </p>
                            <p>At Sanjivani "people are our assets" Growing with experienced people serves our motto of rendering quality services and ensuring all our patients get the very best in our in patient care.Our aim is to uphold the sanctty of life and excedding the expectations of our patients and fulfilling their needs.</p>
                            <p>Sanjivani will act as a center of excellence in secondary and teritary care services.Sanjivani's aspiration for excellence in quality care i health care services can be achived by the specialist core competencies which includes gastroenterology,neurology,ENT etc..</p>                            
                        </div>
                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->
        
{% endblock %}
        

 