{%extends "layout.html"%}
{% block body %}    
    <!-- ################# Our Team Starts Here#######################--->

      <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Sanjivani Hospital</h2>
                           <ul>
                               <li> <a href="/"><i class="fas fa-home"></i> Home</a></li>
                               <li><a href="/about_us"><i class="fas fa-angle-double-right"></i> About Us</a></li>
                           </ul>
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
    

   
 <section class="key-features kf-2">
        <div class="container">
            <div class="inner-title">

                <h2>Our Key Features</h2>
                <p>Take a look at some of our key features</p>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-hospital-alt"></i>
                        <h5>Newest Technologies</h5>
                        <p>What new technology does is create new opportunities to do a job that customers want done.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-user-md"></i>
                        <h5>Experienced Doctors</h5>
                        <p>We have the best and experienced doctors team. Best doctors, who is so kind and nice to help the patient and make the recovery fast. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-briefcase-medical"></i>
                        <h5>High Customer Satisfaction</h5>
                        <p>24x7 Delivering specialized care that puts patients first through a smarter approach to pharmacy services.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-capsules"></i>
                        <h5>Pharma Pipeline</h5>
                        <p>Doing research and performing tests on formulas' safety and effectiveness for gaining FDA approval.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-prescription-bottle-alt"></i>
                        <h5>Pharma Team</h5>
                        <p>Providing specialty pharmacy and related services for patients with complex and chronic health conditions.
                        </p>
                    </div>
                </div>



                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="far fa-thumbs-up"></i>
                        <h5>High Quality treatments</h5>
                        <p>We will work with insurance to get the best possible coverage and minimize expenses. An upscale, private room, inpatient facility with cutting edge medical technology.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}   